---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=56ab0158e484c4b7db0587b0e35381cb&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615166688,"sunrise":1615123418,"sunset":1615165104,"temp":289.01,"feels_like":285.51,"pressure":1011,"humidity":19,"dew_point":266.3,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":0.89,"wind_deg":116,"wind_gust":2.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1615166700,"precipitation":0},{"dt":1615166760,"precipitation":0},{"dt":1615166820,"precipitation":0},{"dt":1615166880,"precipitation":0},{"dt":1615166940,"precipitation":0},{"dt":1615167000,"precipitation":0},{"dt":1615167060,"precipitation":0},{"dt":1615167120,"precipitation":0},{"dt":1615167180,"precipitation":0},{"dt":1615167240,"precipitation":0},{"dt":1615167300,"precipitation":0},{"dt":1615167360,"precipitation":0},{"dt":1615167420,"precipitation":0},{"dt":1615167480,"precipitation":0},{"dt":1615167540,"precipitati[...]
